.button-buy {
    border-radius: 6px;
    background: #D9D9D9;
    width: 196px;
    font-style: italic;
    font-weight: 700;
    line-height: 121.071%;
    height: 33.532px;
    cursor: pointer;
}

.button-buy:hover {
    box-shadow: 0 0 4px rgb(255, 255, 255);
}