
.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter;
    gap: 40px;
    color: white;
    text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 5.12px;
}

/* a {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 30px rgb(255, 255, 255); 
  cursor: pointer;
}

a:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255); 
  cursor: pointer !important; 
} */