.home-container {
    display: flex;
    font-family: Inter;
    flex-direction: column;
    padding: 54px 226px;
    gap: 98px;
    align-items: center;
    color: white;
  }

  @media (max-width: 768px) {
    .home-container {
      padding: 54px 50px; 
    }
  }