.packshot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 120px;
    align-self: stretch;
    flex-wrap: wrap;
}

.packshot1 {
    width: 370px;
}

.packshot2 {
    width: 370px;
}
